<table class='center'>
    <tr>
        <td >
        <a class ='square' href="/board/1"><%= marker(1) %></a>
        </td>

        <td>
        <a class ='square' href="/board/2"><%= marker(2) %></a>
        </td>

        <td>
        <a class ='square' href="/board/3"><%= marker(3) %></a>
        </td>
    </tr>
    <tr>
        <td>
        <a class ='square' href="/board/4"><%= marker(4) %></a>
        </td>

        <td>
        <a class ='square' href="/board/5"><%= marker(5) %></a>
        </td>

        <td>
        <a class ='square' href="/board/6"><%= marker(6) %></a>
        </td>
    </tr>
    <tr>
        <td>
        <a class ='square' href="/board/7"><%= marker(7) %></a>
        </td>

        <td>
        <a class ='square' href="/board/8"><%= marker(8) %></a>
        </td>

        <td>
        <a class ='square' href="/board/9"><%= marker(9) %></a>
        </td>
    </tr>
</table>

<p></p>

<form class='center' action="/signout" method="post">
  <div>
    <button type="submit">Sign Out</button>
  </div>
</form>